In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [4]:
data=pd.read_csv("Wholesale customers data.csv")
data.head()

,Channel,Region,Fresh goods,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185

In [6]:
print("Dataset Length:",len(data))

Dataset Length: 440

In [7]:
print("Data shape:",data.shape)

Data shape: (440, 8)

In [8]:
print("Dataset::")
data.head()

Dataset::

,Channel,Region,Fresh goods,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185

In [15]:
X=data.values[:,1:7]
Y=data.values[:,0]
#X.head()
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)
clf_entropy=DecisionTreeClassifier(criterion="entropy",random_state=100,max_depth=3,min_samples_leaf=7)
clf_entropy.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=7, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=100, splitter='best')

In [10]:
y_pred_en=clf_entropy.predict(X_test)
print(y_pred_en)

[1 2 1 1 1 1 1 2 2 1 1 1 1 1 2 2 1 1 1 1 1 1 2 2 2 1 1 1 1 2 1 2 1 1 1 1 1
 1 2 2 2 1 1 1 2 2 2 1 1 1 1 2 2 2 2 1 1 1 2 1 1 1 2 1 1 2 2 1 1 2 1 1 1 2
 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 2 2 1 1 1 2 1 2 2 1 1 1 1 2 1 2 1 2 1 1 1 2
 1 1 2 2 2 2 1 1 1 2 1 2 1 2 1 1 1 1 1 1 1]

In [11]:
print("Accuracy is:",accuracy_score(y_test,y_pred_en)*100)

Accuracy is: 92.42424242424242